body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

#btn-delete {
    background-color: #b01d15;
    border-color: #b01d15;
}

#btn-delete:hover {
    background-color: #78140e;
    border-color: #78140e;
}

#btn-delete:focus {
    background-color: #78140e;
    border-color: #78140e;
}

.margin-top-10 {
    margin-top:10px;
}

.valMessage {
    font-size: 13px;
}
