@using Microsoft.AspNetCore.Mvc.Rendering
@model string
@{
    ViewBag.Title = "Forgot Password";
    var messageSent = ViewBag.MessageSent ?? string.Empty;
}

<style>
    .center {
        width: 350px;
        margin: 0 auto;
    }
</style>

<h2>@ViewBag.Title</h2>
@if (!string.IsNullOrEmpty(messageSent))
{
    <div class="alert alert-success" role="alert">
        <i class="fas fa-check-circle"></i> @messageSent
    </div>
}
<div class="row">
    <section id="forgotPasswordForm">
        @using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="center">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" type="email" name="Email" required />
                </div>
                <p class="margin-top-10"><input type="submit" value="Send Email" class="btn btn-primary" /></p>
            </div>
        }
    </section>
</div>